<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="searchbar" class="mb-2">
		<form th:action="@{/dictionary}" method="GET" class="input-group">
			<input type="search" name="query" placeholder="Tìm kiếm"
				aria-label="Search" class="form-control" th:value="${param.query}">
			<select name="entity" class="mr-1 selectEntity">
				<option value="all" th:selected="${entity}=='all' ? 'selected'">Tất
					cả</option>
				<option value="vocabulary"
					th:selected="${entity}=='vocabulary' ? 'selected'">Từ</option>
				<option value="sentence"
					th:selected="${entity}=='sentence' ? 'selected'">Câu</option>
				<option value="phrase"
					th:selected="${entity}=='phrase' ? 'selected'">Cụm từ</option>
			</select>
			<button class="btn btn-success">
				<i class="fas fa-search"></i> Tìm
			</button>
		</form>
	</div>
</body>
</html>